infra/base/.terraform
infra/base/terraform.tfstate
infra/base/.terraform.tfstate.lock.info
infra/base/terraform.tfstate.backup
infra/base/terraform.tfvars

apigateway/infra/.terraform
apigateway/infra/terraform.tfstate
apigateway/infra/.terraform.tfstate.lock.info
apigateway/infra/terraform.tfstate.backup


worker/cmd/worker
apigateway/cmd/apigateway
eventhandler/cmd/eventhandler
test
apigateway/infra/data.tf
apigateway/infra/workers.tf
apigateway/infra/ansible/inventory.tmpl
apigateway/infra/ansible/inventory.txt
infra/base/inventory.txt

.terraform*
*.tfvars
*.tfstate
*vendor
apigateway/log
eventhandler/log
worker/log
go-load.code-workspace
*.crt
*.key
*.DS_Store
*__debug_bin
*.vscode