infra/base/.terraform
infra/base/terraform.tfstate
infra/base/.terraform.tfstate.lock.info
infra/base/terraform.tfstate.backup
infra/base/terraform.tfvars
worker/cmd/worker
apigateway/cmd/apigateway
eventhandler/cmd/eventhandler
test